/* Basic Style */
* {
  background-color: #f8f8f8;
  font-family: lato, sans-serif;
}

.matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.matrix-img {
  width: 100%;
}

.more-info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  
  .matrix {
    text-align: center;
  }

}

.task-container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task-label {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}

.add-new-task {
  margin-top: 20px;
  display: flex;
}

.todos-container {
  margin:0;
  padding: 0px;
}

.btn {
  border: 0px;
  width: 60px;
  font: 15px lato, sans-serif;
  cursor: pointer;
  color: #888;
}

.btn:hover {
  color: #3a3a3a;
}

/* Heading */
.heading {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  text-transform: uppercase;
}

.task-text {
  margin: 0;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font: 18px lato, sans-serif;
  color: #888;
}

.task-text:focus {
  color: #333;
}

/* New Task */
.add-heading {
  display: block;
  margin: 0 0 20px;
}

#new-task {
  width: 440px;
}

/* Task list */
.task-list {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid rgb(227, 227, 227);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cb {
  margin: 0 10px;
}

.task-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 347px;
}

.task-text {
  width: 347px
}

.remove-btn {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.remove-btn:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-tasks .task-label {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */
.todos-container .task-text {
  display:none
}

.todos-container .edit-task .task-text {
  display:inline-block;
  width:347px
}

.todos-container .edit-task .task-label {
  display:none;
}